<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer" translate="label">
            <group id="formtrabajo" translate="label" sortOrder="1" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Formulario Trabajo</label>
                <field id="formemail" translate="label" type="text" sortOrder="1" showInWebsite="1" showInStore="1">
                    <label>Email Destino</label>
                </field>
            </group>
        </section>
    </system>
</config>